h2 {
text-align: center;
padding-top: 5vw;
margin-left: 5vw;
margin-right: 5vw;
}
h3 {

    margin-left: 5vw;
margin-right: 5vw;
}
h1 {
    
    
padding-top: 1vw;
    text-align: center;
}
p{
    margin-left: 5vw;
margin-right: 5vw;
}
#maincontent {
background-color: beige;
    margin-right: 10vw;
   margin-bottom: 5vw;
    margin-left: 10vw;
    margin-top: 2vw;
    padding-bottom: 50px;
}
body { 

background-color: rgb(74, 87, 62);

}
#topnav {
background-color: beige;
height: 5vw;

}
#foot {

    background-color: beige;
    height: 10vw;
}
#logo {
 float: left;
 
}